body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .footer {
    background-color:#1F2937 ;
}

.LOGO {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
}
.hero {
    display: flex;
    flex-direction: column;
}

.header {
    padding:  10px 100px;
    display: flex;
    justify-content: space-between;
}

.hero2 {
    display: flex;
    padding: 100px;
}

.hero-text {
    flex:1;
}



.main-text {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}


.hero img {
    height:auto;
    width: 200px;
    background-color: grey;
}
